body{
    margin:0;
    padding:0;
    background-color: rgba(128, 128, 128, 0.514);
}
body,html{
    height:100%;
    overflow:hidden;
}
h1{
    font-size: 28px;
    color: red;
}
.main_menu{
    text-align:center;
    display:flex;
    flex-direction:column;
    padding:12px;
    gap:8px;
    position:fixed;
    top: 40%;
    left: 0;
    right:0;
    width:20%;
    flex-wrap:wrap;
    margin: -100px auto 0 auto;
}
.main_menu > button{
    background-color:beige;
}
#pvp_button:hover{
    background-color:rgb(255, 115, 0);
    color:black;
}
#pvcpu_normal_button:hover{
    background-color:rgb(245, 245, 0);
    color:black;
}
#pvcpu_hard_button:hover{
    background-color:crimson;
    color:white;
}
#pvcpu_unbeatable_button:hover{
    background-color:red;
    color:white;
}
#start_button:hover{
    background-color:yellowgreen;
    color:white;
}
a:-webkit-any-link {
    color:black;
    cursor: pointer;
    text-decoration: none;
    width:100%;
}
.gameboard_div{
    text-align:center;
    display:flex;
    position:fixed;
    top: 40%;
    left: 38%;
    right:0;
    max-width:100%;
    max-height:100%;
    flex-wrap:wrap;
    margin: -100px auto 0 auto;
}
.positions{
    display:grid;
    grid-template-columns: 150px 150px 150px;
    width:200px;
    height:200px;
}
.positions > button{
    background-color: rgba(128, 128, 128, 0.514);
    width:100%;
    height:100%;
    width:fixed;
    font-size:28px;
    border-radius:0.8em;
    border-color:black;
}
.positions > button:hover{
    background-color:green;
}
.header_para{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 128px;
    font-size:32px;
}
.reset_button{
    position:absolute;
    top:60%;
    right:25%;
    padding:1.1em;
    width:50%;
    height:auto;
    font-size:1.1em;
}
.reset_button:hover{
    color:rgb(255, 102, 0);
    background-color:gray;
}